body {
    background: #c60b1e url('../Images/Secondary/error.png') no-repeat;
    background-size: cover;
}

.container {
    width: 500px;
}

div {
    text-align: center;
    margin: 10px;
}

.button {
    width: 100px;
    margin: 20px;
    padding-left: 20px;
    padding-right: 20px;
    display: inline-block;
}

.button-container {
    margin-top: 40px;
    margin-bottom: 20px;
}
