.container {
    width: 600px;
    background-color: #ffffff;
    padding: 0 20px 24px 20px;
    margin-top: 20px;
}

p {
    line-height: 170%;
    letter-spacing: 0.25px;
}

.title {
    font-size: 22px;
    margin-top: 24px;
    margin-bottom: 10px;
}

input[type=text], input[type="password"] {
    font-size: 18px;
    height: 20px;
    padding: 4px;
    width: 590px;
    letter-spacing: 0.5px;
}

input[type="file"] {
    width: 100%;
}

input[type="file"], input[type="submit"] {
    margin-top: 30px;
}

select {
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
}

textarea {
    resize: none;
    height: 8em;
    box-shadow: none;
    border: 1px solid #cccccc;
    padding: 2px;
    font-size: 18px;
    width: 590px;
}

.button {
    width: 175px;
    float: right;
    margin-left: 50px;
}

.upload {
    position: relative;
    width: 200px;
    margin: auto;
    cursor: pointer;
    height: 35px;
    border-radius: 5px;
    border: none;
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: 2px;
}

    .upload:hover:after {
        background: #db3030;
        color: #FFFFFF;
    }

    .upload:after {
        transition: all 0.1s ease-in-out;
        border: 1px solid #aaa;
        background: #FFFFFF;
        color: #000000;
        font-size: 16px;
        text-align: center;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: block;
        content: 'Upload an Image';
        line-height: 35px;
        border-radius: 5px;
    }

.post-div {
    overflow: auto;
}

.checkbox {
    display: none;
}

.option-container {
    display: inline-block;
    width: 100%;
    background-color: #eeeeee;
    border-radius: 8px;
    border: 1px solid #dddddd;
    margin-top: 20px;
    cursor: pointer;
}

.option-icon {
    width: 128px;
    height: 128px;
    display: inline-block;
    background-repeat: no-repeat;
    float: left;
    background-position: center;
    background-color: white;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
}

.disabled-anonymity {
    background-image: url("/Images/Credits/blackspy64.png");
    background-color: #fafafa;
}

.enabled-anonymity {
    background-image: url("/Images/Credits/whitespy64.png");
    background-color: #333333;
}

.enabled-boost {
    background-image: url("/Images/Credits/enabledstar.png");
    background-color: cornflowerblue;
}

.disabled-boost {
    background-image: url("/Images/Credits/disabledstar.png");
    background-color: #bfdcff;
}

.option-message {
    font-size: 14px;
    display: inline-block;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 14px;
    font-weight: 100;
}

.option-title {
    text-align: center;
    padding-top: 8px;
}

.option-description {
    display: inline-block;
    float: right;
    margin: auto;
    width: 470px;
}

.option-cost {
    font-size: 14px;
    display: inline-block;
    padding-left: 16px;
    padding-top: 16px;
}

.user-credits {
    padding-top: 14px;
}

.costs-title {
    display: inline-block;
    width: 125px;
    font-size: 18px;
}

.costs-amount {
    display: inline-block;
}

.total-container {
    padding-top: 10px;
}

.need {
    font-size: 13px;
    padding-top: 4px;
}

    .need a {
        color: #000000;
    }

.add {
    border: 1px solid #3498db;
    color: #3498db;
}

    .add:hover {
        background: #3498db;
    }

.post {
    border: 1px solid #27ae60;
    color: #27ae60;
}

    .post:hover {
        background: #27ae60;
    }
