.container {
    width: 500px;
}

p {
    text-align: center;
    margin-top: 30px;
}

div {
    text-align: center;
}

.button {
    width: 150px;
    margin: 30px;
    display: inline-block;
}

.thank-you {
    font-weight: normal;
    font-size: 30px;
    margin-bottom: 28px;
    margin-top: 12px;
}