<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BCrypt.Net" version="0.1.0" targetFramework="net46" />
  <package id="Microsoft.AspNet.FriendlyUrls.Core" version="1.0.2" targetFramework="net46" />
  <package id="MySql.Data" version="6.9.8" targetFramework="net46" />
  <package id="Newtonsoft.Json" version="8.0.2" targetFramework="net46" />
</packages>